@use 'variables' as *;

.footer {
    background: $footerBackground;
    padding: 0 90px;
    &__topSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        flex-wrap: wrap;
        padding: 3rem 0;
        &-logoEmail {
            & img {
                height: 100px;
            }
            & form {
                margin-left: 20px;
                & input {
                    border: 2px solid $footerColor2;
                    border-radius: 30px;
                    background: $footerBackground;
                    padding: 10px 90px 10px 10px;
                }
                & p {
                    color: $footerColor2;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
        &-SCT {
            display: flex;
            justify-content: space-between;
            & h3 {
                color: $white;
                font-size: 22px;
                font-weight: 600;
                line-height: 33px;
            }
            & ul {
                list-style: none;
                padding-left: 0;
            }
            & ul li {
                color: $footerColor;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                padding-bottom: 10px;
            }
        }
        &-socialMedia {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & label {
                color: $footerColor2;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border: 2px solid $footerColor2;
                border-radius: 30px;
                padding: 10px 60px;
                margin-top: 30px;
            }
        }
    }
    &__bottomSection {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        &-Copy {
            & label {
                color: $footerColor2;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
            }
        }
        &-Payments {
            display: flex;
            flex-direction: row;
            align-items: center;
            & label {
                color: $white;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: 0.02em;
            }
            & ul {
                display: flex;
                align-items: center;
                list-style: none;
                & li {
                    margin-right: 1.6em;
                }
                & li:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

