$violet: #A526B1;
$lightBlue: #56D1DC;
$darkBlue: #461E5C;
$blue: #5D7BD5;
$white: #ECECEE;
$purpleContainer:  #fdefff;
$footerBackground: #363636;
$footerColor: #AFAFAF;
$footerColor2: #808080;

// Sizes Big Screen
$page-width: 80rem;